In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 67kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 52.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612242 sha256=7334c08e1113b74b8866b20be2cc18264f617a3d7a9d8e296e7ea68771fa0476
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 15 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 145480 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u275-b01-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u275-b01-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u275-b01-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
id='1f_9EbnywCj35EBUA32sueigxBjBJwALr'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('War and Peace by Leo Tolstoy (ru).txt')

In [ ]:
import pandas as pd

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

--2020-12-23 14:37:49--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 3.213.190.117, 54.160.18.204, 52.202.213.65, ...
Connecting to bin.equinox.io (bin.equinox.io)|3.213.190.117|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13773305 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.13M  18.4MB/s    in 0.7s

2020-12-23 14:37:50 (18.4 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13773305/13773305]

Archive:  ngrok-stable-linux-amd64.zip
  inflating: ngrok
Traceback (most recent call last):
  File "<string>", line 1, in <module>
IndexError: list index out of range

Подсчитай кол-во слов в документе "War and Peace by Leo Tolstoy (ru).txt"

In [ ]:
from pyspark.sql import SparkSession

ss = SparkSession(sc)

In [ ]:
import re
f = open("War and Peace by Leo Tolstoy (ru).txt", "rb")
content = re.sub(r'[^\w\s]+|[\d]+', r'',f.read().decode("cp1251").encode("utf-8").decode("utf-8")).strip().replace("\xa0","").replace("\t\t","")
content = re.sub(r"\b[A-Z]{1,}\b", "", content)
f.close()
f = open("War and Peace.txt", "w")
f.write(content)
f.close()

In [ ]:
book = sc.textFile("War and Peace.txt")

In [ ]:
words = book.flatMap(lambda line: line.split(" ")).filter(lambda char: char != '')
wordCounts = words.map(lambda word: (word, 1)).reduceByKey(lambda a,b:a +b)

In [ ]:
wordCounts.values().sum()

470745

In [ ]:
id='13yfAoONwq4rS5XrTv3IrcqcFcdgfvK9V'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-train.txt')

id='1VE_9x0LQvOJpHXbXp_RMPl3Q4wRUuOok'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('mnist-digits-test.txt')

Необходимо обучить модель используя Spark MLlib (модель на ваш выбор, например Decision Tree) и получить accuracy.
Подробнее тут: https://spark.apache.org/docs/latest/ml-classification-regression.html

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Load the data stored in LIBSVM format as a DataFrame.
data = spark.read.format("libsvm").option("numFeatures","780").load("mnist-digits-train.txt")
data_test = spark.read.format("libsvm").option("numFeatures","780").load("mnist-digits-test.txt")
labelIndexer = StringIndexer(inputCol="label", outputCol="indexedLabel").fit(data)
featureIndexer = VectorIndexer(inputCol="features", outputCol="indexedFeatures", handleInvalid="skip").fit(data)
dt = DecisionTreeClassifier(labelCol="indexedLabel", featuresCol="indexedFeatures")
pipeline_dt = Pipeline(stages=[labelIndexer, featureIndexer, dt])
model_dt = pipeline_dt.fit(data)

predictions_dt = model_dt.transform(data_test)
evaluator_dt = MulticlassClassificationEvaluator(
    labelCol="indexedLabel", predictionCol="prediction", metricName="accuracy")
accuracy_dt = evaluator_dt.evaluate(predictions_dt)
print("Accuracy DTC = %f " % accuracy_dt)

Accuracy DTC = 0.683930

In [ ]:
id='1kUIrskM0zNH8u71G9M1BkHjRQYxvgAvh'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('data.zip')
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/regions.csv
  inflating: data/departments.csv
  inflating: data/jobs.csv
  inflating: data/locations.csv
  inflating: data/country.csv
  inflating: data/employees.csv
  inflating: data/job_history.csv

Кто получает больше всего? Кто меньше всего?

In [ ]:
df = spark.read.csv("data/employees.csv",sep = "\t",header='True')
df.show(truncate=False)

+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME |LAST_NAME |EMAIL   |PHONE_NUMBER|HIRE_DATE|JOB_ID    |SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|100        |Steven     |King      |SKING   |515.123.4567|17.06.03 |AD_PRES   |24000 |null          |null      |90           |
|101        |Neena      |Kochhar   |NKOCHHAR|515.123.4568|21.09.05 |AD_VP     |17000 |null          |100       |90           |
|102        |Lex        |De Haan   |LDEHAAN |515.123.4569|13.01.01 |AD_VP     |17000 |null          |100       |90           |
|103        |Alexander  |Hunold    |AHUNOLD |590.423.4567|03.01.06 |IT_PROG   |9000  |null          |102       |60           |
|104        |Bruce      |Ernst     |BERNST  |590.423.4568|21.05.07 |IT_PROG   |6000  |null          |103       |60           |
|105        |David      |Austin    |DAUSTIN |590.423.4569|25.06.05 |IT_PROG   |4800  |null          |103       |60           |
|106        |Valli      |Pataballa |VPATABAL|590.423.4560|05.02.06 |IT_PROG   |4800  |null          |103       |60           |
|107        |Diana      |Lorentz   |DLORENTZ|590.423.5567|07.02.07 |IT_PROG   |4200  |null          |103       |60           |
|108        |Nancy      |Greenberg |NGREENBE|515.124.4569|17.08.02 |FI_MGR    |12008 |null          |101       |100          |
|109        |Daniel     |Faviet    |DFAVIET |515.124.4169|16.08.02 |FI_ACCOUNT|9000  |null          |108       |100          |
|110        |John       |Chen      |JCHEN   |515.124.4269|28.09.05 |FI_ACCOUNT|8200  |null          |108       |100          |
|111        |Ismael     |Sciarra   |ISCIARRA|515.124.4369|30.09.05 |FI_ACCOUNT|7700  |null          |108       |100          |
|112        |Jose Manuel|Urman     |JMURMAN |515.124.4469|07.03.06 |FI_ACCOUNT|7800  |null          |108       |100          |
|113        |Luis       |Popp      |LPOPP   |515.124.4567|07.12.07 |FI_ACCOUNT|6900  |null          |108       |100          |
|114        |Den        |Raphaely  |DRAPHEAL|515.127.4561|07.12.02 |PU_MAN    |11000 |null          |100       |30           |
|115        |Alexander  |Khoo      |AKHOO   |515.127.4562|18.05.03 |PU_CLERK  |3100  |null          |114       |30           |
|116        |Shelli     |Baida     |SBAIDA  |515.127.4563|24.12.05 |PU_CLERK  |2900  |null          |114       |30           |
|117        |Sigal      |Tobias    |STOBIAS |515.127.4564|24.07.05 |PU_CLERK  |2800  |null          |114       |30           |
|118        |Guy        |Himuro    |GHIMURO |515.127.4565|15.11.06 |PU_CLERK  |2600  |null          |114       |30           |
|119        |Karen      |Colmenares|KCOLMENA|515.127.4566|10.08.07 |PU_CLERK  |2500  |null          |114       |30           |
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [ ]:
new_df = df.select("FIRST_NAME", "LAST_NAME", "SALARY")
changedTypedf = new_df.withColumn("SALARY", new_df["SALARY"].cast("double"))
salary_df = changedTypedf.sort(col("SALARY").desc())

print("MAX SALARY:", salary_df.first()[0],salary_df.first()[1],salary_df.first()[2])
print("MIN SALARY:", salary_df.collect()[salary_df.count()-1][0],salary_df.collect()[salary_df.count()-1][1],salary_df.collect()[salary_df.count()-1][2])

MAX SALARY: Steven King 24000.0
MIN SALARY: TJ Olson 2100.0

Выведете топ 5 по зарплате.

In [ ]:
salary_df.take(5)
for i in salary_df.take(5):
  print(i[0],i[1],i[2])

salary_df.show(5,truncate=False)

Steven King 24000.0
Lex De Haan 17000.0
Neena Kochhar 17000.0
John Russell 14000.0
Karen Partners 13500.0
+----------+---------+-------+
|FIRST_NAME|LAST_NAME|SALARY |
+----------+---------+-------+
|Steven    |King     |24000.0|
|Neena     |Kochhar  |17000.0|
|Lex       |De Haan  |17000.0|
|John      |Russell  |14000.0|
|Karen     |Partners |13500.0|
+----------+---------+-------+
only showing top 5 rows

Сколько всего регионов? Сколько работников в каждом регионе?

In [ ]:
df_dep = spark.read.csv("data/departments.csv",sep = "\t",header='True')
df_new_dep = df.join(df_dep,on = "DEPARTMENT_ID",how = "inner")

df_dep_loc = spark.read.csv("data/locations.csv",sep = "\t",header='True')
df_new_dep_loc = df_new_dep.join(df_dep_loc,on =  "LOCATION_ID" , how = "inner")

df_dep_loc_cnt = spark.read.csv("data/country.csv",sep = "\t",header='True')
df_new_dep_cnt = df_new_dep_loc.join(df_dep_loc_cnt,on =  "COUNTRY_ID" , how = "inner")

df_dep_loc_reg = spark.read.csv("data/regions.csv",sep = "\t",header='True')
df_new_dep_reg = df_new_dep_cnt.join(df_dep_loc_reg,on =  "REGION_ID" , how = "inner")

changedTypedf_new = df_new_dep_reg.withColumn("REGION_ID", df_new_dep_reg["REGION_ID"].cast("double"))
dep_grup = changedTypedf_new.groupBy("REGION_NAME").count()
dep_grup.show()

dep_grup1 = changedTypedf_new.filter(changedTypedf_new['COUNTRY_NAME']=="China").count()
print("Работников из Китая: " , dep_grup1)

+-----------+-----+
|REGION_NAME|count|
+-----------+-----+
|     Europe|   36|
|   Americas|   70|
+-----------+-----+

Работников из Китая:  0

Выведете всех работников из Китая.

In [ ]:
df_his = spark.read.csv("data/job_history.csv",sep = "\t",header='True')
df_1 = df.drop('DEPARTMENT_ID')
df_new_dep_his = df_1.join(df_his,on = "EMPLOYEE_ID",how = "inner")

df_new_dep = df_new_dep_his.join(df_dep,on = "DEPARTMENT_ID",how = "inner")
df_new_dep_loc = df_new_dep.join(df_dep_loc,on =  "LOCATION_ID" , how = "inner")
df_new_dep_cnt = df_new_dep_loc.join(df_dep_loc_cnt,on =  "COUNTRY_ID" , how = "inner")

changedTypedf_new = df_new_dep_cnt.withColumn("REGION_ID", df_new_dep_cnt["REGION_ID"].cast("double"))
dep_grup = changedTypedf_new.filter(changedTypedf_new['COUNTRY_NAME']=="China").count()
print("Работников из Китая: " , dep_grup)

Работников из Китая:  0

Укажите самую высокооплачиваемою должность.

In [ ]:
df_jobs = spark.read.csv("data/jobs.csv",sep = "\t",header='True')

changedTypedf_new = df_jobs.withColumn("MAX_SALARY", df_jobs["MAX_SALARY"].cast("double")).withColumn("MIN_SALARY", df_jobs["MIN_SALARY"].cast("double"))

from pyspark.sql.functions import col
df1=changedTypedf_new.withColumn("avg", (col("MAX_SALARY")+col("MIN_SALARY"))/2)
df1 = df1.sort("avg")
df1.show()
print("ДОЛЖНОСТЬ: ",df1.collect()[df1.count()-1].JOB_TITLE,"\nЗАРПЛАТА: ",df1.collect()[df1.count()-1].avg)

+----------+--------------------+----------+----------+-------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|    avg|
+----------+--------------------+----------+----------+-------+
|  ST_CLERK|         Stock Clerk|    2008.0|    5000.0| 3504.0|
|  PU_CLERK|    Purchasing Clerk|    2500.0|    5500.0| 4000.0|
|  SH_CLERK|      Shipping Clerk|    2500.0|    5500.0| 4000.0|
|   AD_ASST|Administration As...|    3000.0|    6000.0| 4500.0|
|    MK_REP|Marketing Represe...|    4000.0|    9000.0| 6500.0|
|    HR_REP|Human Resources R...|    4000.0|    9000.0| 6500.0|
|FI_ACCOUNT|          Accountant|    4200.0|    9000.0| 6600.0|
|AC_ACCOUNT|   Public Accountant|    4200.0|    9000.0| 6600.0|
|   IT_PROG|          Programmer|    4000.0|   10000.0| 7000.0|
|    ST_MAN|       Stock Manager|    5500.0|    8500.0| 7000.0|
|    PR_REP|Public Relations ...|    4500.0|   10500.0| 7500.0|
|    SA_REP|Sales Representative|    6000.0|   12008.0| 9004.0|
|    PU_MAN|  Purchasing Manager|    8000.0|   15000.0|11500.0|
|    MK_MAN|   Marketing Manager|    9000.0|   15000.0|12000.0|
|    FI_MGR|     Finance Manager|    8200.0|   16000.0|12100.0|
|    AC_MGR|  Accounting Manager|    8200.0|   16000.0|12100.0|
|    SA_MAN|       Sales Manager|   10000.0|   20080.0|15040.0|
|     AD_VP|Administration Vi...|   15000.0|   30000.0|22500.0|
|   AD_PRES|           President|   20080.0|   40000.0|30040.0|
+----------+--------------------+----------+----------+-------+

ДОЛЖНОСТЬ:  President
ЗАРПЛАТА:  30040.0

Выведете всех работников связанных с ИТ. Выведете их менеджеров.

In [ ]:
IT = df.filter(df["JOB_ID"] == "IT_PROG")
managers_company = df.selectExpr("FIRST_NAME as NAME_OF_MAN", "LAST_NAME as LAST_NAME_OF_MAN","EMPLOYEE_ID as MANAGER_ID")
IT_employees_with_man = IT.join(managers_company, on = "MANAGER_ID", how = "inner")
IT_employees_with_man.show()

+----------+-----------+----------+---------+--------+------------+---------+-------+------+--------------+-------------+-----------+----------------+
|MANAGER_ID|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|DEPARTMENT_ID|NAME_OF_MAN|LAST_NAME_OF_MAN|
+----------+-----------+----------+---------+--------+------------+---------+-------+------+--------------+-------------+-----------+----------------+
|       102|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 03.01.06|IT_PROG|  9000|          null|           60|        Lex|         De Haan|
|       103|        104|     Bruce|    Ernst|  BERNST|590.423.4568| 21.05.07|IT_PROG|  6000|          null|           60|  Alexander|          Hunold|
|       103|        105|     David|   Austin| DAUSTIN|590.423.4569| 25.06.05|IT_PROG|  4800|          null|           60|  Alexander|          Hunold|
|       103|        106|     Valli|Pataballa|VPATABAL|590.423.4560| 05.02.06|IT_PROG|  4800|          null|           60|  Alexander|          Hunold|
|       103|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567| 07.02.07|IT_PROG|  4200|          null|           60|  Alexander|          Hunold|
+----------+-----------+----------+---------+--------+------------+---------+-------+------+--------------+-------------+-----------+----------------+

Выведете имя и фамилию работника, его текущую и предыдущую должности и сколько полных недель и дней прошло с момент изменения.

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DateType
from pyspark.sql.functions import unix_timestamp, from_unixtime

df_his = spark.read.csv("data/job_history.csv",sep = "\t",header='True')
new_join = df_his.join(df_jobs,on="JOB_ID",how = 'inner')
our_df = new_join.selectExpr("JOB_ID as LAST_JOB_ID", "JOB_TITLE as LAST_JOB_TITLE","EMPLOYEE_ID")
new_join = df.join(our_df,on = "EMPLOYEE_ID",how = "full")
new_join = new_join.drop_duplicates()
new_join = new_join.withColumn("HIRE_DATE",from_unixtime(unix_timestamp(df.HIRE_DATE, 'dd.MM.yy')).alias('HIRE_DATE'))
new_join = new_join.withColumn('daysSince', F.datediff(F.current_date(), new_join.HIRE_DATE))
new_join = new_join.withColumn("daysSince", new_join["daysSince"].cast(IntegerType()))
new_join=new_join.withColumn("weeksSince", (col("daysSince")/7).cast(IntegerType()))
new_join = new_join.join(df_jobs,on="JOB_ID",how="inner")
our_df = new_join.selectExpr("FIRST_NAME", "LAST_NAME","JOB_TITLE","LAST_JOB_TITLE","daysSince","weeksSince")
our_df.show()

+-----------+---------+--------------------+-----------------+---------+----------+
| FIRST_NAME|LAST_NAME|           JOB_TITLE|   LAST_JOB_TITLE|daysSince|weeksSince|
+-----------+---------+--------------------+-----------------+---------+----------+
|       John|  Russell|       Sales Manager|             null|     5927|       846|
|      James|   Landry|         Stock Clerk|             null|     5092|       727|
|      Peter|     Hall|Sales Representative|             null|     5604|       800|
|    Lindsey|    Smith|Sales Representative|             null|     5767|       823|
|    Michael|   Rogers|         Stock Clerk|             null|     5233|       747|
|Jose Manuel|    Urman|          Accountant|             null|     5405|       772|
|      Sarah|     Bell|      Shipping Clerk|             null|     6167|       881|
|    Janette|     King|Sales Representative|             null|     6172|       881|
|     Sundar|     Ande|Sales Representative|             null|     4657|       665|
|      Bruce|    Ernst|          Programmer|             null|     4965|       709|
|    Stephen|   Stiles|         Stock Clerk|             null|     5537|       791|
|      James|   Marlow|         Stock Clerk|             null|     5789|       827|
|      Ellen|     Abel|Sales Representative|             null|     6070|       867|
|    Patrick|    Sully|Sales Representative|             null|     6138|       876|
|      Peter|   Tucker|Sales Representative|             null|     5806|       829|
|      Neena|  Kochhar|Administration Vi...|Public Accountant|     5572|       796|
|      Kevin|  Mourgos|       Stock Manager|             null|     4786|       683|
|  Elizabeth|    Bates|Sales Representative|             null|     5023|       717|
|      Susan|   Mavris|Human Resources R...|             null|     6774|       967|
|     Curtis|   Davies|         Stock Clerk|             null|     5807|       829|
+-----------+---------+--------------------+-----------------+---------+----------+
only showing top 20 rows

Выведете уникальные телефонные номера

In [ ]:
df.select("PHONE_NUMBER").distinct().collect()

[Row(PHONE_NUMBER='011.44.1344.429018'),
 Row(PHONE_NUMBER='515.127.4566'),
 Row(PHONE_NUMBER='515.127.4564'),
 Row(PHONE_NUMBER='011.44.1344.429278'),
 Row(PHONE_NUMBER='515.123.4569'),
 Row(PHONE_NUMBER='650.124.1434'),
 Row(PHONE_NUMBER='650.123.2234'),
 Row(PHONE_NUMBER='011.44.1344.498718'),
 Row(PHONE_NUMBER='650.127.1634'),
 Row(PHONE_NUMBER='515.127.4561'),
 Row(PHONE_NUMBER='011.44.1345.629268'),
 Row(PHONE_NUMBER='515.127.4562'),
 Row(PHONE_NUMBER='011.44.1644.429264'),
 Row(PHONE_NUMBER='011.44.1644.429262'),
 Row(PHONE_NUMBER='650.501.1876'),
 Row(PHONE_NUMBER='650.127.1834'),
 Row(PHONE_NUMBER='011.44.1343.529268'),
 Row(PHONE_NUMBER='011.44.1644.429265'),
 Row(PHONE_NUMBER='515.123.8181'),
 Row(PHONE_NUMBER='650.507.9833'),
 Row(PHONE_NUMBER='515.123.7777'),
 Row(PHONE_NUMBER='650.123.4234'),
 Row(PHONE_NUMBER='515.123.5555'),
 Row(PHONE_NUMBER='011.44.1344.467268'),
 Row(PHONE_NUMBER='650.505.1876'),
 Row(PHONE_NUMBER='650.501.2876'),
 Row(PHONE_NUMBER='515.123.8080'),
 Row(PHONE_NUMBER='011.44.1346.729268'),
 Row(PHONE_NUMBER='650.123.5234'),
 Row(PHONE_NUMBER='650.127.1934'),
 Row(PHONE_NUMBER='515.123.8888'),
 Row(PHONE_NUMBER='011.44.1345.829268'),
 Row(PHONE_NUMBER='650.507.9879'),
 Row(PHONE_NUMBER='650.509.2876'),
 Row(PHONE_NUMBER='515.127.4563'),
 Row(PHONE_NUMBER='650.507.9876'),
 Row(PHONE_NUMBER='650.505.4876'),
 Row(PHONE_NUMBER='011.44.1344.129268'),
 Row(PHONE_NUMBER='515.124.4369'),
 Row(PHONE_NUMBER='650.121.2034'),
 Row(PHONE_NUMBER='650.123.1234'),
 Row(PHONE_NUMBER='650.501.4876'),
 Row(PHONE_NUMBER='650.124.1214'),
 Row(PHONE_NUMBER='011.44.1343.329268'),
 Row(PHONE_NUMBER='011.44.1345.929268'),
 Row(PHONE_NUMBER='590.423.4560'),
 Row(PHONE_NUMBER='650.123.3234'),
 Row(PHONE_NUMBER='515.124.4469'),
 Row(PHONE_NUMBER='650.124.5234'),
 Row(PHONE_NUMBER='650.127.1734'),
 Row(PHONE_NUMBER='650.507.9811'),
 Row(PHONE_NUMBER='650.124.6234'),
 Row(PHONE_NUMBER='650.507.9844'),
 Row(PHONE_NUMBER='011.44.1346.529268'),
 Row(PHONE_NUMBER='515.124.4569'),
 Row(PHONE_NUMBER='590.423.4569'),
 Row(PHONE_NUMBER='011.44.1343.729268'),
 Row(PHONE_NUMBER='650.121.2004'),
 Row(PHONE_NUMBER='515.124.4567'),
 Row(PHONE_NUMBER='515.123.4568'),
 Row(PHONE_NUMBER='011.44.1344.429268'),
 Row(PHONE_NUMBER='011.44.1346.329268'),
 Row(PHONE_NUMBER='650.505.3876'),
 Row(PHONE_NUMBER='650.121.1834'),
 Row(PHONE_NUMBER='515.127.4565'),
 Row(PHONE_NUMBER='650.124.1224'),
 Row(PHONE_NUMBER='011.44.1343.929268'),
 Row(PHONE_NUMBER='011.44.1343.629268'),
 Row(PHONE_NUMBER='603.123.6666'),
 Row(PHONE_NUMBER='011.44.1345.429268'),
 Row(PHONE_NUMBER='650.121.2019'),
 Row(PHONE_NUMBER='650.507.9878'),
 Row(PHONE_NUMBER='650.509.4876'),
 Row(PHONE_NUMBER='590.423.4568'),
 Row(PHONE_NUMBER='515.124.4269'),
 Row(PHONE_NUMBER='011.44.1644.429266'),
 Row(PHONE_NUMBER='650.121.2874'),
 Row(PHONE_NUMBER='650.121.1234'),
 Row(PHONE_NUMBER='650.509.3876'),
 Row(PHONE_NUMBER='011.44.1346.129268'),
 Row(PHONE_NUMBER='515.123.4444'),
 Row(PHONE_NUMBER='650.507.9877'),
 Row(PHONE_NUMBER='650.501.3876'),
 Row(PHONE_NUMBER='650.507.9822'),
 Row(PHONE_NUMBER='650.124.8234'),
 Row(PHONE_NUMBER='650.124.1334'),
 Row(PHONE_NUMBER='011.44.1343.829268'),
 Row(PHONE_NUMBER='011.44.1344.486508'),
 Row(PHONE_NUMBER='590.423.5567'),
 Row(PHONE_NUMBER='650.124.7234'),
 Row(PHONE_NUMBER='011.44.1345.729268'),
 Row(PHONE_NUMBER='011.44.1345.529268'),
 Row(PHONE_NUMBER='515.123.4567'),
 Row(PHONE_NUMBER='515.124.4169'),
 Row(PHONE_NUMBER='011.44.1344.345268'),
 Row(PHONE_NUMBER='011.44.1344.987668'),
 Row(PHONE_NUMBER='011.44.1344.478968'),
 Row(PHONE_NUMBER='650.121.2994'),
 Row(PHONE_NUMBER='011.44.1344.619268'),
 Row(PHONE_NUMBER='590.423.4567'),
 Row(PHONE_NUMBER='650.505.2876'),
 Row(PHONE_NUMBER='011.44.1346.229268'),
 Row(PHONE_NUMBER='011.44.1346.629268'),
 Row(PHONE_NUMBER='650.121.8009'),
 Row(PHONE_NUMBER='011.44.1644.429267'),
 Row(PHONE_NUMBER='650.509.1876')]

Есть ли сотрудники с одинаковыми фамилиями и сколько их.

In [ ]:
df.groupBy("LAST_NAME").count().where("count > 1").show()

+---------+-----+
|LAST_NAME|count|
+---------+-----+
|    Smith|    2|
|     King|    2|
|Cambrault|    2|
|   Taylor|    2|
+---------+-----+